@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header h1{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.header-line{
    background: linear-gradient(90deg, #A0A603, #BF5B04);
    height: 20px;
    width: 100%;
    margin-bottom: 50px;
}

main{
    margin: 0 200px;
}

article#week-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
}

.recipe-img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

button, input[type=submit]{
    font-size: 16px;
    padding: 13px;
    background-color: #FFF;
    border: 2px solid black;
    transition: 0.2s;
}

button:hover, input[type=submit]:hover {
    background-color: #D9D166;
    border-color: #D9D166;
    transition: 0.2s;
}

input, select{
    padding: 5px;

}

input:focus, select:focus{
    outline: none;
    border-color: #F2CEAE;
}

article#shopping-list ul{
    list-style-type: none;
}

#recipes h3:hover{
    text-decoration: underline;
}

.active-title h3{
    color: #A0A603;
}