<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu of the week</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/menustyle.css">
</head>
<body>
<section id="app">
  <header>
    <h1>Menu of the week</h1>
    <div class="header-line"></div>
  </header>

  <main>
    <week-table :recipes="recipes" :weekdays="weekdays"></week-table>
    <user-interactivity :recipes="recipes"
                        :weekdays="weekdays"
                        @save-recipe="saveRecipe"
    ></user-interactivity>
  </main>

</section>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>

    let eventBus = new Vue()

    Vue.component('week-table', {
        props: {
            recipes: {
                type: Array,
                required: true
            },
            weekdays: {
                type: Array,
                required: true
            }
        },
        template: `
          <article id="week-grid">
          <h2 v-for="weekday in weekdays">{{ weekday }}</h2>
          <figure v-for="(recipe, index) in recipes"
                  v-if="recipe.weekday"
                  :key="index"
                  :style="{gridArea: position(recipe)}"
                  @mouseover="hoveredWeekday=recipe.weekday"
                  @mouseleave="hoveredWeekday=''"
                  :class="{'hover-size': recipe.weekday===hoveredWeekday}"
                  @click="showRecipe">
            <img :src="recipe.image" :alt="recipe.alt" class="recipe-img">
            <figcaption>{{ recipe.title }}</figcaption>
          </figure>
          </article>
        `,
        data() {
            return {
                hoveredWeekday: '',
                displayRecipe: false
            }
        },
        methods: {
            showRecipe() {
                eventBus.$emit('hide-others')
                eventBus.$emit('show-recipe', this.hoveredWeekday)
            },
            position(recipe) {
                switch (recipe.weekday) {
                    case 'monday':
                        return '2 / 1 / 3 / 2';
                    case 'tuesday':
                        return '2 / 2 / 3 / 3';
                    case 'wednesday':
                        return '2 / 3 / 3 / 4';
                    case 'thursday':
                        return '2 / 4 / 3 / 5';
                    case 'friday':
                        return '2 / 5 / 3 / 6';
                    case 'saturday':
                        return '2 / 6 / 3 / 7';
                    case 'sunday':
                        return '2 / 7 / 3 / 8';
                }
            }
        },
        mounted() {
            eventBus.$on('hide-others', () => this.displayRecipe = false)
        }
    })

    Vue.component('user-interactivity', {
        props: {
            recipes: {
                type: Array,
                required: true
            },
            weekdays: {
                type: Array,
                required: true
            }
        },
        template: `
          <section id="user-interactivity">
          <article id="optionButtons">
            <button @click="displayForm">Add a recipe</button>
            <button @click="displayRecipes">Show all recipes</button>
            <button @click="displayShoppingList">Show this week's shopping list</button>
          </article>
          <p v-show="showRecipeSavedMsg">Recipe saved!</p>
          <form v-show="showForm"
                @submit.prevent="addRecipe">
            <p>
              <label for="title">Enter a recipe name:</label>
            </p>
            <p><input id="title"
                      name="title"
                      required
                      v-model="title"/></p>
            <p><label for="ingredients">Enter an ingredient:</label></p>
            <p><input id="ingredients"
                      name="ingredients"
                      v-model="ingredientName"></p>
            <p><label for="ingredient-qty">Select a quantity:</label></p>
            <p><input type="number"
                      id="ingredient-qty"
                      name="ingredient-qty"
                      min="1"
                      max="50"
                      v-model="ingredientQty"></p>
            <p><label for="ingredient-weight">Or, enter weight, measurement, etc:</label></p>
            <p><input id="ingredient-weight"
                      name="ingredient-weight"
                      v-model="ingredientWeight"></p>
            <p v-if="ingredientQty && ingredientWeight">Please enter either quantity or free text!</p>
            <p v-if="showIngredientError">Ingredient name required!</p>
            <p>
              <button @click.prevent="addIngredient"
                      :class="{dualOptions: ingredientQty && ingredientWeight}">Add ingredient
              </button>
            </p>
            <p><label for="weekday">Choose a weekday, or leave blank to save the recipe for later:</label></p>
            <p><select id="weekday"
                       name="weekday"
                       v-model="weekday">
              <option></option>
              <option v-for="weekday in weekdays">{{ weekday }}</option>
            </select></p>
            <p>
              <input type="submit"
                     id="submit"
                     name="submit"
                     value="Save recipe"></p>
            <p>
              <button @click="clearForm" id="cancelForm">Cancel</button>
            </p>
          </form>
          <div>
            <article v-show="showForm" id="reactive-recipe">
              <h2 v-show="title.length || ingredients.length">Your recipe:</h2>
              <h3>{{ title }}</h3>
              <ul>
                <li v-for="(ingredient, index) in ingredients"
                    :key="index">
                  {{ ingredient.ingredientName }} : {{ ingredient.ingredientQty }}{{ ingredient.ingredientWeight }}
                  <input type="image"
                         src="img/icon/outline_delete_black_24dp.png"
                         alt="delete"
                         class="delete"
                         title="remove ingredient"
                         @click="removeIngredient(index)">
                </li>
              </ul>
            </article>
          </div>
          <section id="display">
            <todays-recipe :recipes="recipes"
                           :weekdays="weekdays"
                           :remove-duplicates="removeDuplicates"></todays-recipe>
            <recipe-list :recipes="recipes" :weekdays="weekdays" :remove-duplicates="removeDuplicates"></recipe-list>
            <shopping-list :recipes="recipes"></shopping-list>
          </section>
          </section>
        `,
        data() {
            return {
                showForm: false,
                showRecipeSavedMsg: false,
                showIngredientError: false,
                showRecipeBtn: true,
                showShoppingListBtn: true,
                update: false,
                updateIndex: 0,
                title: '',
                ingredientName: '',
                ingredientQty: '',
                ingredientWeight: '',
                ingredients: [],
                weekday: '',
                image: '',
                alt: ''
            }
        },
        methods: {
            displayForm() {
                eventBus.$emit('hide-others')
                this.showForm = true
                this.showRecipeSavedMsg = false
            },
            addIngredient() {
                if (!(this.ingredientWeight && this.ingredientQty)
                    && this.ingredientName) {
                    let ingredient = {
                        ingredientName: this.ingredientName,
                        ingredientQty: this.ingredientQty,
                        ingredientWeight: this.ingredientWeight,
                        purchased: false
                    }
                    this.ingredients.push(ingredient)
                    this.clearIngredients()
                } else if (!this.ingredientName) {
                    this.showIngredientError = true
                }
            },
            removeIngredient(index) {
                this.ingredients.splice(index, 1)
            },
            //todo Gör så man kan välja vecka.
            addRecipe() {
                let recipe = {
                    title: this.title,
                    ingredients: this.ingredients.slice(),
                    weekday: this.weekday,
                    image: this.renderImgString,
                    alt: this.weekday,
                }
                if (this.update) {
                    this.recipes[this.updateIndex] = recipe
                } else {
                    this.$emit('save-recipe', recipe)
                }
                eventBus.$emit('update-recipes')
                this.removeDuplicates(recipe)
                this.clearForm()
                this.showRecipeSavedMsg = true
            },
            removeDuplicates(recipe) {
                for (let i = 0; i < this.recipes.length; i++) {
                    if (this.recipes[i] !== recipe) {
                        if (this.recipes[i].weekday === recipe.weekday) {
                            this.recipes[i].weekday = ''
                        }
                    }
                }
            },
            clearForm() {
                this.ingredients = []
                this.title = ''
                this.weekday = ''
                this.showForm = false
                this.clearIngredients()
            },
            clearIngredients() {
                this.ingredientQty = ''
                this.ingredientName = ''
                this.ingredientWeight = ''
                this.showIngredientError = false
            },
            displayRecipes() {
                eventBus.$emit('hide-others')
                eventBus.$emit('show-recipes')
                this.showRecipeBtn = false
            },
            displayShoppingList() {
                eventBus.$emit('hide-others')
                eventBus.$emit('show-shoppinglist')
                this.showShoppingListBtn = false
            }
        },
        computed: {
            renderImgString() {
                if (this.weekday) {
                    return `img/${this.weekday}.jpg`
                } else return ''
            }
        },
        mounted() {
            eventBus.$on('hide-others', () => {
                this.showForm = false
                this.showRecipeSavedMsg = false
                this.showTodaysRecipe = false
                this.showRecipeBtn = true
                this.showShoppingListBtn = true
                this.update = false
            })
            eventBus.$on('update-recipe', (index) => {
                this.showForm = true
                this.update = true

                let recipe = this.recipes[index]
                this.title = recipe.title
                this.weekday = recipe.weekday
                this.ingredients = recipe.ingredients
                this.updateIndex = index
            })
        }
    })

    Vue.component('todays-recipe', {
        props: {
            recipes: {
                type: Array,
                required: true
            },
            weekdays: {
                type: Array,
                required: true
            },
            removeDuplicates: {
                type: Function,
                required: true
            }
        },
        template: `
          <article v-show="showTodaysRecipe" id="todays-recipe">
          <recipe-info
              :weekdays="weekdays"
              :recipes="recipes"
              :recipe="todaysRecipe"
              :remove-duplicates="removeDuplicates"
              :index="recipes.indexOf(todaysRecipe)"
              :selected-index="recipes.indexOf(todaysRecipe)"
          ></recipe-info>
          </article>
        `,
        data() {
            return {
                showTodaysRecipe: false,
                todaysRecipe: ''
            }
        },
        methods: {
            displayTodaysRecipe(weekday) {
                this.showTodaysRecipe = true
                this.todaysRecipe = this.recipes.find(x => x.weekday === weekday)
            },
            updateRecipe() {
                eventBus.$emit('hide-others')
                eventBus.$emit('update-recipe', this.recipes.indexOf(this.todaysRecipe))
            }
        },
        mounted() {
            eventBus.$on('hide-others', () => this.showTodaysRecipe = false)
            eventBus.$on('show-recipe', (weekday) => this.displayTodaysRecipe(weekday))
            eventBus.$on('recipe-deletion', () => this.showTodaysRecipe = false)

        }
    })

    Vue.component('recipe-list', {
        props: {
            recipes: {
                type: Array,
                required: true
            },
            weekdays: {
                type: Array,
                required: true
            },
            removeDuplicates: {
                type: Function,
                required: true
            }
        },
        template: `
          <section id="recipe-list" v-show="showRecipes">
          <button id="hide-recipes" @click="hideRecipes">Hide recipes</button>
          <div id="no-recipes-header" v-if="!recipes.length">
            <h2>No recipes saved!</h2>
            <h4>Add one by clicking "Add a recipe" to the left.</h4>
          </div>
          <ul v-else id="recipe-parent-list">
            <li id="recipes-loop"
                v-for="(recipe, index) in recipes"
                :key="index"
                @click="selectedIndex = index"
                :class="{'active-title': selectedIndex === index}">
              <recipe-info
                  :remove-duplicates="removeDuplicates"
                  :weekdays="weekdays"
                  :recipes="recipes"
                  :recipe="recipe"
                  :index="index"
                  :selected-index="selectedIndex"></recipe-info>

            </li>
          </ul>
          </section>
        `,
        data() {
            return {
                showRecipes: false,
                selectedIndex: ''
            }
        },
        methods: {
            hideRecipes() {
                this.showRecipes = false
                this.selectedIndex = ''
                eventBus.$emit('hide-others')
            }
        },
        mounted() {
            eventBus.$on('hide-others', () => {
                this.showRecipes = false
                this.selectedIndex = ''
            })
            eventBus.$on('update-recipes', () => this.selectedIndex = '')
            eventBus.$on('show-recipes', () => this.showRecipes = true)
        }
    })

    //todo selectedIndex kvar vid delete
    Vue.component('recipe-info', {
        props: {
            recipe: {
                type: Object,
                required: true
            },
            recipes: {
                type: Array,
                required: true
            },
            weekdays: {
                type: Array,
                required: true
            },
            removeDuplicates: {
                type: Function,
                required: true
            },
            index: {
                required: true
            },
            selectedIndex: {
                required: true
            }
        },
        template:
                `
                  <article id="recipe-info">
                  <div id="recipe-header">
                    <h3>{{ recipe.title }}</h3>
                    <input type="image"
                           src="img/icon/outline_delete_black_24dp.png"
                           alt="delete"
                           class="delete"
                           title="delete recipe"
                           v-show="selectedIndex === index"
                           @click="deleteRecipe">
                  </div>
                  <div v-show="selectedIndex === index">
                    <ul>
                      <li id="ingredient-list"
                          v-for="(ingredient, index) in recipe.ingredients"
                          :key="index">
                        {{ ingredient.ingredientName }} : {{ ingredient.ingredientQty }}
                        {{ ingredient.ingredientWeight }}
                      </li>
                    </ul>
                    <change-weekday :weekdays="weekdays"
                                    :remove-duplicates="removeDuplicates"
                                    :recipe="recipe"
                                    :assigned-weekday="recipe.weekday"></change-weekday>
                    <button @click="updateRecipe">Update recipe info</button>
                  </div>
                  </article>
                `,
        data() {
            return {}
        },
        methods: {
            deleteRecipe() {
                if (confirm('Are you sure you want to delete recipe: ' + this.recipes[this.selectedIndex].title + '?')) {
                    this.recipes.splice(this.selectedIndex, 1)
                    eventBus.$emit('update-recipes')
                    eventBus.$emit('recipe-deletion')
                }
            },
            updateRecipe() {
                let index = this.selectedIndex
                eventBus.$emit('hide-others')
                eventBus.$emit('update-recipe', index)
            }
        }
    })

    Vue.component('change-weekday', {
        props: {
            weekdays: {
                type: Array,
                required: true
            },
            recipe: {
                type: Object,
                required: false
            },
            removeDuplicates: {
                type: Function,
                required: true
            },
            assignedWeekday: {
                type: String,
                required: true
            }
        },
        template: `
          <div id="new-weekday">
          <h4 v-if="recipe.weekday">Change weekday:</h4>
          <h4 v-else>Assign to weekday:</h4>
          <select id="new-weekday-select" name="new-weekday-select" v-model="assignedWeekday">
            <option v-if="recipe.weekday">-- none --</option>
            <option v-for="(weekday, index) in weekdays"
                    :key="index">{{ weekday }}
            </option>
          </select>
          <button @click="assignWeekday">Assign</button>
          </div>
        `,
        data() {
            return {}
        },
        methods: {
            assignWeekday() {
                if (this.assignedWeekday === '-- none --') {
                    this.recipe.weekday = ''
                    this.recipe.image = ''
                    eventBus.$emit('hide-others')
                } else {
                    this.recipe.weekday = this.assignedWeekday
                    this.recipe.image = `img/${this.assignedWeekday}.jpg`
                    this.removeDuplicates(this.recipe)
                }
                eventBus.$emit('update-recipes')
            }
        }
    })

    Vue.component('shopping-list', {
        props: {
            recipes: {
                type: Array,
                required: true
            }
        },
        template: `
          <article id="shopping-list" v-show="showShoppingList">
          <button id="hide-shoppinglist" @click="hideShoppingList">Hide shopping list</button>
          <h2>This week's shopping list:</h2>
          <ul v-for="(recipe, index) in recipes"
              :key="index"
              v-if="recipe.weekday">
            <li
                v-for="(ingredient, index) in recipe.ingredients"
                :key="index"
                @mouseover="hoveredItem=ingredient"
                @mouseleave="hoveredItem=''"
                :class="{greenMarked: ingredient.purchased}">
              {{ ingredient.ingredientName }} : {{ ingredient.ingredientQty }}{{ ingredient.ingredientWeight }}
              <img v-if="!ingredient.purchased"
                   v-show="hoveredItem===ingredient"
                   @click="changePurchased(ingredient)"
                   src="img/icon/outline_radio_button_unchecked_black_24dp.png"
                   alt="check">
              <img v-if="ingredient.purchased"
                   v-show="hoveredItem===ingredient"
                   @click="changePurchased(ingredient)"
                   src="img/icon/outline_check_circle_black_24dp.png"
                   alt="uncheck">
            </li>
          </ul>
          </article>
        `,
        data() {
            return {
                showShoppingList: false,
                isDone: new Array(100),
                hoveredItem: ''
            }
        },
        methods: {
            hideShoppingList() {
                this.showShoppingList = false
                eventBus.$emit('hide-others')
            },
            changePurchased(ingredient) {
                ingredient.purchased = !ingredient.purchased
                eventBus.$emit('update-recipes')
            }
        },
        mounted() {
            eventBus.$on('hide-others', () => this.showShoppingList = false)
            eventBus.$on('show-shoppinglist', () => this.showShoppingList = true)
        }
    })

    let app = new Vue({
        el: '#app',
        data: {
            weekdays: ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'],
            recipes: []
        },
        methods: {
            saveRecipe(recipe) {
                this.recipes.push(recipe)
            }
        },
        mounted() {
            if (localStorage.getItem('recipes-array')) {
                this.recipes = JSON.parse(localStorage.getItem('recipes-array'))
            }
            eventBus.$on('update-recipes', () => {
                localStorage.setItem('recipes-array', JSON.stringify(this.recipes))
            })
        }
    })
</script>
</body>
</html>